@import "tailwindcss";

@theme {
  --font-body: "Kanit", sans-serif;
  --font-mono: "Space Mono", monospace;
}

html {
  font-family: var(--font-body);
}

.font-body {
  font-family: var(--font-body);
}

.font-mono {
  font-family: var(--font-mono);
}
